
<div class='flex-container'>
  <script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/currency.js"></script>
  <div class="coinmarketcap-currency-widget" data-currency="bitcoin" data-base="USD" ></div>
  <div class="coinmarketcap-currency-widget" data-currency="ethereum" data-base="USD" ></div>
  <div class="coinmarketcap-currency-widget" data-currency="ripple" data-base="USD" ></div>
  <div class="coinmarketcap-currency-widget" data-currency="litecoin" data-base="USD" ></div>
</div>

<span><%= link_to "HOME", root_path %> // <%= link_to "BX", bx_markets_path %></span>
