<style>
  table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
  }
  th, td {
      padding: 5px;
      text-align: right;
  }
</style>

<h1>bx.in.th markets</h1>
<table>
  <tr>
    <th>Market</th>
    <th>Change</th>
    <th>Price</th>
    <th>24HR volume</th>
  </tr>

  <% @bx_pairings.each do |pair| %>
    <% pair = pair[1] %>
    <tr>
      <% last_price = pair[:last_price].to_s %>

      <td><%= "#{pair[:primary_currency]}_#{pair[:secondary_currency]}" %></td>
      <td><%= "#{pair[:change]} #{pair[:primary_currency]}" %></td>
      <td><%= last_price.include?("e-") ? ("%.8f" % last_price) : last_price %></td>
      <td><%= pair[:volume_24hours].round(2) %></td>
    </tr>
  <% end %>
</table>
