<style>
  table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
  }
  th, td {
      padding: 5px;
      text-align: left;
  }
</style>

<h2>1 USD = <%= @thb %> THB</h2>

<table>
  <tr>
    <th>COIN</th>
    <th colspan="2">BX.IN.TH</th>
    <th colspan="4">binance</th>
    <th colspan="4">poloniex</th>
  </tr>
  <tr>
    <td></td>
    <td>THB</td>
    <td>USD</td>
    <!-- binance -->
    <td>USD</td>
    <td>BTC</td>
    <td>usd diff</td>
    <td>% diff</td>
    <!-- poloniex -->
    <td>USD</td>
    <td>BTC</td>
    <td>usd diff</td>
    <td>% diff</td>
  </tr>
  <% @bx_pairings.each_value do |pair| %>

    <% bx_usd_price = (pair[:orderbook][:bids][:highbid] / @thb).round(2) %>
    <% available_binance = @binance.select { |c| c["symbol"][0..2] == pair[:secondary_currency] }.first %>

    <% if pair[:secondary_currency] == "DAS" %>
      <% available_poloniex = @poloniex["BTC_DASH"] %>
    <% else %>
      <% available_poloniex = @poloniex.select { |p| p[4..-1] == pair[:secondary_currency] }.first %>
      <% available_poloniex = available_poloniex[1] rescue nil %>
    <% end %>

    <tr>
      <th><%= pair[:secondary_currency] %></th>

      <!-- BX COLUMNS -->
      <td><%= pair[:last_price]%></td>
      <td><%= bx_usd_price %></td>

      <% unless available_binance.blank? %>
        <td><%= bin_usd_price = available_binance["usd_price"].round(2) %></td>
        <td><%= available_binance["price"] %></td>
        <td><%= diff = ( bx_usd_price - available_binance["usd_price"]).round(2)  %></td>
        <td><%= (( bx_usd_price - bin_usd_price) / (( bx_usd_price + bin_usd_price) / 2) * 100).round(2) %></td>
      <% else %>
        <td></td><td></td><td></td><td></td>
      <% end %>

      <% unless available_poloniex.blank? %>
        <td><%= polo_usd_price = (available_poloniex["lowestAsk"].to_f * @btc.to_f).round(2) %></td>
        <td><%= available_poloniex["lowestAsk"] %></td>
        <td><%= ( bx_usd_price - polo_usd_price ).round(2) %></td>
        <td><%= (( bx_usd_price - polo_usd_price) / (( bx_usd_price + polo_usd_price) / 2) * 100).round(2) %></td>
      <% else %>
        <td></td><td></td><td></td><td></td>
      <% end %>
    </tr>

  <% end %>

</table>
